.wrapper {
  .search-form {
    display: flex;
    flex-direction: column;
    // width: 60vw;
    margin: 0 auto;
    align-items: flex-end;

    .form {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      height: 100%;
      margin: 0 auto;

      label {
        padding: calc(var(--primary-padding) / 2);

        .location {
          align-items: center;
        }

        input {
          margin-left: var(--primary-margin);
        }
      }
    }
  }
}
