.wrapper {
  .profile {
    width: 40%;
    margin: 0 auto;
    background-color: var(--third-background-color);
    padding: var(--primary-padding);
    border-radius: var(--primary-border-radius);
    border: var(--primary-border-style);

    .image-info {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
    }
    .form {
      display: flex;
      flex-direction: column;

      input {
        margin-left: var(--primary-margin);
      }

      .username-name {
        display: flex;
        margin: var(--primary-margin);
      }
    }
    .original-location {
      margin: calc(var(--primary-margin) / 2);
    }
    .cancel-delete {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .button-return {
        margin: calc(var(--primary-margin) / 2) 0;
        background-color: var(--primary-color-two);
        color: var(--primary-font-color);
        font-weight: 300;
        padding: calc(var(--primary-padding) / 2)
          calc(var(--primary-padding) * 2);
        border: var(--primary-border-style);
        border-radius: var(--primary-border-radius);
        opacity: 0.7;
        transition: var(--primary-transition);
        cursor: pointer;

        &:hover {
          opacity: 1;
          font-weight: 500;
        }
      }
    }
  }
}
