.home-wrapper {
  padding: var(--primary-padding);
  margin: 0 auto;

  .home-banner {
    position: relative;
    width: auto;
    height: 70vh;
    overflow: hidden;
    border-radius: var(--primary-border-radius);

    .category-banner {
      object-fit: cover;
    }
  }
  a {
    padding-top: calc(var(--primary-padding) / 2);
    text-align: right;
  }
}
