.header {
  display: flex;
  justify-content: space-between;
  border-bottom: var(--primary-border-style);

  .logo-icons {
    width: 30%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .nav {
    justify-content: flex-end;
    align-items: center;
    width: 50%;
    display: flex;

    .profile-logout {
      margin-right: var(--primary-margin);
      display: flex;
      justify-content: flex-end;
    }
  }

  .menu-icon {
    margin: var(--primary-margin);
    height: var(--primary-menu-icons-size);
    width: var(--primary-menu-icons-size);
    transition: var(--primary-transition);
    cursor: pointer;

    &:hover {
      transform: scale(1.2);
    }
  }
}
