.wrapper {
  width: 95vw;
  margin: 0 auto;
  padding: 1rem;

  .form {
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 100vh;
    overflow: true;
    align-items: flex-end;

    label {
      display: flex;
      gap: 0.5rem;
    }

    .location {
      display: flex;
      flex-direction: column;
    }
  }
}
